body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* COLOURS */
	--blue: #243B9C;
	--orange: #DF7127;
	--orangeDark: #D04823;
	--green: #2A9B2D;
	--mustard: #BC8337;
	--mustardDark: #B4741F;
	--beige: #FBF7F0;
	--beigeDark: #DDD3C2;
	--greyDark: #494949;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
