body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* COLOURS */
	--blue: #243B9C;
	--blueDarker: #0C2E83;
	--orange: #DF7127;
	--orangeDark: #D04823;
	--green: #2A9B2D;
	--gold: #997800;
	--goldLight: #cd9f00;
	--brownLight: #e1d3af;
	--mustard: #BC8337;
	--mustardDark: #B4741F;
	--offWhite: #f7f7f7;
	--beige: #FBF7F0;
	--beigeDark: #DDD3C2;
	--beigeDarker: #b2ada3;
	--greyDark: #494949;
	--greyDark2: #444;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
